name: run_ut_on_pr

on:
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'README_en.md'
      - 'docs/**'
      - 'plugin_examples/**'
  workflow_dispatch:
  schedule:
    - cron:  '56 22 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  PY310_VERSION: 3.10.12
jobs:
  pr_run_test:
    runs-on: [self-hosted, Linux, X64, 66_19]
    timeout-minutes: 20
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Prepare - Install benchmark
        run: |
          export LD_LIBRARY_PATH="${LD_LIBRARY_PATH}:${HOME}/local_bin/python-${PY310_VERSION}/lib"
          source ${HOME}/virtualenvs/workon310/bin/activate
          pip3 install -e ./ --use-pep517
          pip3 install -r requirements/api.txt
          pip3 install -r requirements/extra.txt
          pip3 install -r requirements/datasets/bfcl_dependencies.txt --no-deps
      - name: Run Test
        run: |
          export LD_LIBRARY_PATH="${LD_LIBRARY_PATH}:${HOME}/local_bin/python-${PY310_VERSION}/lib"
          source ${HOME}/virtualenvs/workon310/bin/activate
          pip3 install pytest pytest-cov pytest-xdist
          python3 tests/run_tests.py tests/UT -p 16

      - name: Check Result
        run: |
          cur_dir=$(pwd)
          summary_path=${cur_dir}/test_reports/test_summary.txt
          echo "summary_path: ${summary_path}"
          if [ -f ${summary_path} ]; then
            echo "[INFO] test_summary.txt exists. "
          else
            echo "[ERROR] test_summary.txt not exists. "
            exit 1
          fi
          grep -q "Failed: 0" ${summary_path}
          if [ $? -ne 0 ]; then
            failed_count=$(cat ${summary_path} | grep "Failed:" | awk '{print $2}')
            echo "[ERROR] Not all test case passed, failed count is ${failed_count}. "
            exit 1
          else
            echo "[INFO] All test case passed. "
          fi
          total_coverage=$(cat ${summary_path} | grep "Total coverage" | cut -d' ' -f3 | tr -d '%')
          if [ $(echo "$total_coverage < 80" | bc) -eq 1 ]; then
            echo "[ERROR] Code coverage is lower than 80.0%, current coverage is ${total_coverage}%. "
            exit 1
          else
            echo "[INFO] Code coverage is higher than 80.0%, current coverage is ${total_coverage}%. "
          fi
      - name:  Uninstall benchmark
        if: always()
        run: |
          export LD_LIBRARY_PATH="${LD_LIBRARY_PATH}:${HOME}/local_bin/python-${PY310_VERSION}/lib"
          source ${HOME}/virtualenvs/workon310/bin/activate
          pip3 uninstall ais_bench_benchmark -y
          if [ $? -ne 0 ]; then
            echo "[ERROR] Uninstall benchmark failed. "
            exit 1
          else
            echo "[INFO] Uninstall benchmark success. "
          fi
